*{
    padding: 0;
    box-sizing: border-box; 
    margin: 0;

}

body{
    background-color: black; 
}

section{
    background-color: skyblue;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container{
    background-color: red; 
    width: 70%; 
}